#result_title {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
}
.master{
  /* border: 4px solid rgb(249, 4, 147); */
  position: absolute;
  width: 70%;
  right: 1.5%;
}
.result_box {
  width: 90%;
  /* border: 2px solid red; */
  display: flex;
  gap: 1rem;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
background-color: #07092e;
color: white;
border-radius: 0.5rem;
}
.result_box > div {
  width: 50%;
  margin: auto;
  justify-content: center;
  align-items: center;
  /* border: 2px solid yellow; */
}
.result_img>img{
width: 40%;
border-radius: 50%;
}
